# Copy this file to ".env" w 3amer l-valeurs eli fih.
# T7ott hna EL TOKEN el 7a9i9i mte3 el bot — MA TETfarra9ouch/te push-ihech l GitHub.

DISCORD_TOKEN=paste_your_bot_token_here

# Note: OWNER_ID mahouch lezmou hna — houwa hardcoded fi config.py.
